html, body {
  height: 100%;
  font-family: "Franklin Gothic Heavy", "Franklin Gothic", "ITC Franklin Gothic", Arial, sans-serif;
  font-weight: bold;
  font-weight: 800;
}

.contact-container {
  height: 100%;
  width: 100%;
  background-image: url(../images/optimized/lia1.jpg);
  background-size: cover;
  background-attachment: fixed;
}

.sidebar {
  min-width: 325px;
}
.sidebar a {
  color: white;
  transition: 300ms linear;
  opacity: .6;
}
.sidebar a:hover {
  color: white;
  opacity: .9;
}

.fixed {
  left: 205px;
  top: 145px;
}
.fixed span, .fixed a {
  transition: 300ms;
  color: white;
  opacity: .8;
}
.fixed span:hover, .fixed a:hover {
  color: white;
  opacity: 1;
  text-shadow: 1px 1px 6.5px rgba(0, 0, 0, 0.6);
}

a {
  text-decoration: none;
  color: black;
}
a:hover {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

.email {
  font-family: "Raleway";
  position: fixed;
  top: 55%;
  opacity: .8;
  left: 31px;
  font-size: 2.5em;
  color: white;
  text-align: center;
  text-transform: uppercase;
}

.on .fixed {
  left: -40px;
}

.sidebar {
  left: 0;
}

.show {
  left: -400px;
}

/* 900px and under*/
@media only screen and (max-width: 900px) {
  .sidebar {
    font-size: 1.6em;
    transition: font-size 1ms ease-in;
    transition: left 200ms ease-in;
  }
}
@media only screen and (max-width: 768px) {
  .email {
    font-size: 2.5em;
  }
}
@media only screen and (max-width: 480px) {
  .email {
    font-size: 1.8em;
    top: 45%;
    left: 20px;
  }

  .on .fixed a {
    opacity: .9;
  }
}
/* 320 and */
