html, body {
  height: 100%;
  font-family: "arial", sans-serif;
}

a {
  text-decoration: none;
  color: black;
}
a:hover {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

h1, h3, h2 {
  font-family: "Raleway";
}

h2 {
  font-size: 2.5em;
}

p {
  font-family: "Junction", sans-serif;
}

.hidden {
  display: none;
}

.mobile-only {
  display: none;
}

.not-mobile {
  display: block;
}

.link-spanner {
  position: absolute;
  top: 0;
  z-index: 1;
  left: 0;
  width: 100%;
  height: 100%;
}

.light {
  opacity: .5;
}

.series-title {
  font-family: "Raleway";
  position: fixed;
  right: 15px;
  top: 0px;
  font-size: 3.5em;
  color: black;
  opacity: .6;
  text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
  z-index: 99999;
  transition: 500ms;
}
.series-title .show, .series-title .hide {
  font-family: "Open Sans";
  font-size: .7em;
  vertical-align: 7px;
}
.series-title:hover {
  opacity: .9;
}

.description-screen {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.9);
  position: fixed;
  top: 0;
  left: 0;
  transition: opacity 900ms;
  opacity: 0;
  z-index: 1;
}

.series-description {
  font-family: "Junction", sans-serif;
  position: fixed;
  margin: 0 auto;
  top: 25%;
  left: 35%;
  width: 50%;
}

.on .description-screen {
  opacity: 1;
  z-index: 999;
}
.on .series-title {
  opacity: 1;
}

.back {
  font-family: "raleway";
  position: fixed;
  bottom: 3.5%;
  left: 40px;
  font-size: 1.7em;
  transition: 200ms ease-in;
  color: black;
  opacity: .6;
  z-index: 99999;
  transition: 500ms;
}
.back:hover {
  opacity: 1;
  text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.photos {
  width: 100%;
  height: 100%;
}
.photos:first-child {
  margin-top: 0px;
}
.photos:last-child {
  padding-bottom: 0px;
}
.photos div {
  position: relative;
  background-attachment: fixed;
  width: 100%;
  height: 100%;
  margin-right: 20px;
  background: no-repeat fixed;
  background-position: 81% 45%;
  background-size: 70%;
}
.photos .cover {
  background-image: url(../images/optimized/buddy.jpg);
}
.photos .page1 {
  background-image: url(../images/optimized/buddy01.jpg);
}
.photos .page2 {
  background-image: url(../images/optimized/buddy02.jpg);
  background-position: 83%;
}
.photos .page3 {
  background-image: url(../images/optimized/buddy03.jpg);
}
.photos .page4 {
  background-image: url(../images/optimized/buddy04.jpg);
}
.photos .page5 {
  background-image: url(../images/optimized/buddy05.jpg);
}
.photos .page6 {
  background-image: url(../images/optimized/buddy06.jpg);
}
.photos .page7 {
  background-image: url(../images/optimized/buddy07.jpg);
  background-position: 83% 44%;
}
.photos .page8 {
  background-image: url(../images/optimized/buddy08.jpg);
  background-position: 83%;
}

.arrow-container {
  position: relative;
  height: 100%;
  float: right;
  width: 25%;
}

.helper-arrow {
  clear: both;
  font-size: 110px;
  color: black;
  opacity: .3;
  position: absolute;
  right: 40px;
  bottom: 35px;
  z-index: 99;
  transition-property: opacity, bottom;
  transition-duration: .4s, .3s;
  transition-timing-function: linear, ease-in;
}
.helper-arrow:hover {
  opacity: .6;
  bottom: 25px;
  cursor: pointer;
}

#page-buddy .sidebar a:hover {
  opacity: .8;
  text-shadow: 1px 1.25px 6.5px rgba(0, 0, 0, 0.4);
}
#page-buddy .on .fixed {
  left: 217px;
}
#page-buddy .fixed {
  top: 132px;
  left: -32px;
}
#page-buddy .fixed a {
  opacity: .8;
  transition: 600ms;
}
#page-buddy .fixed a:hover {
  opacity: 1;
}
#page-buddy .fixed span {
  transition: 600ms;
  opacity: .8;
}
#page-buddy .fixed span:hover {
  opacity: 1;
  text-shadow: 1px 1.25px 0.5px rgba(0, 0, 0, 0.4);
}

/* 900px and under*/
@media only screen and (max-width: 900px) {
  .photos div {
    background-attachment: scroll;
    background-size: 90%;
  }

  .link-spanner {
    z-index: 1;
  }

  .photos div {
    background-size: 85%;
  }

  .series-title {
    color: black !important;
  }
}
@media only screen and (max-width: 320px) {
  .back {
    left: 2px;
  }
}
