//
//
// SIDEBAR OPTIONS INCLUDE
//
// no background, no effects
// just slide out text
//
// or
//
// slightly opaque background behind
// slide out text
//
// or
//
// no sidebar background but
// jquery effect applying opacity
// to everything but nav text
//

.sidebar{
    background-color: transparent;
    position:fixed;
    top:0;
    left: -400px;
    height:100%;
    z-index:9999;
    min-width: 325px;
    overflow-x:auto;
    overflow-y:auto;
    font-family: "Raleway";
    // MAYBE? font-family: "Helvetica Neue", Arial, sans-serif;
    font-size: 2.5em;
    font-weight: 400;
    line-height: 1em;
    color:black;
    transition: 200ms ease-in;
    ul{
    margin:50px 0 0 40px;
    }
    a{
        transition: 450ms;
        // text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.35);
        color:black;
        opacity: .6;
        &:hover{
            opacity: .9;
            text-shadow: 1px 1.25px 6.5px rgba(0, 0, 0, 0.4);
        }
    }
}

#page-emily-duda .current-page-link ul a.artist-name{
    opacity: 1;
    text-shadow: 1px 1px 6.5px rgba(0, 0, 0, 0.5);

}
#page-stories .current-page-link ul a.work{
    opacity: 1;
    text-shadow: 1px 1px 6.5px rgba(0, 0, 0, 0.5);

}
#page-objects .current-page-link ul a.objects{
    opacity: 1;
    text-shadow: 1px 1px 6.5px rgba(0, 0, 0, 0.5);

}
#page-contact .current-page-link ul a.contact{
    opacity: 1;
    text-shadow: 1px 1px 6.5px rgba(0, 0, 0, 0.5);

}

.show{
    display: inline;
    left: 0;
}
.hide{
    display: none;
}

.fixed{
    position: fixed;
    top: 130px;
    left:-25px;
    font-size: 1.1em;
    z-index: 99999;
    background-color: none;
    transition: 200ms ease-in;
    -webkit-transform: rotate(90deg)
   //
   //(sacrifice sharpness with
   translate3d( 0, 0, 0);
   // to fix rotated webfont glitching?)
   //
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    a{
        opacity: .7;
        transition: 400ms;
        a:hover{
            text-shadow: 1.5px 1.5px 6.5px rgba(0, 0, 0, 0.8);
            opacity: 1;
        }
    }
    span{
        transition: 400ms;
        opacity: .9;
        font-family: "Raleway";
        // font-family: "Helvetica Neue", Arial, sans-serif;
        font-weight: 800;
        text-decoration: none;
        color: black;
        position: relative;
        &:hover{
            // font-family: "Helvetica Neue", Arial, sans-serif;
            text-shadow: 1.5px 1.5px 6.5px rgba(0, 0, 0, 0.8);
            opacity: 1;
            // text-shadow: 4px 4px 1px rgba(255, 255, 255, 1);

        }
        &:after{
            content:"";
            padding: 35px 110px 40px 110px;
            position: absolute;
            left: -50px;
            top: -20px;
        }
    }
}


.on{
    .hide{
        display: inline;
    }
    .show{
        display: none;
    }
    .fixed{
        left: 220px;
    }
}

// put div.screen somewhere in html
// if you want to do lightbox
// type sidebar instead
// of transparent (must also
// remove background-color from sidebar
// and add opacity:1 to nav text)
//

@media only screen and (max-width: 900px) {
    .sidebar{
        a{
            color: white;
        }
        font-size: 2.6em;
        transition: font-size 1ms ease-in;
        transition: left 200ms ease-in;
    }

    .on{
        .fixed{
            a, span{
                color:white;
            }
            // color: white;
            left: 185px;
        }
    }

    .screen{
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        transition: 300ms;
        background: rgba(0,0,0,0);
    }
    .on{
        .helper-arrow{
        opacity:0;
        transition: 80ms;
        }
        .screen{
        background: rgba(0,0,0,.8);
        z-index: 999;
        }
    }
}
@media only screen and (max-width: 480px) {

    .fixed{
        width: 200px;
        top: 118px;
        left: -55px;
        a{
            .show{
                opacity:1;
                left: -20px;
            }
            .hide{
                opacity: .9;
            }
        }
    }


    .sidebar{
        top: -25px;
        li{
            a{
                font-size: 1em;
                line-height: 1.3em;
                color:white;
                opacity: .9;
            }
        }
        transition: font-size 1ms ease-in;
        transition: left 200ms ease-in;
    }


    .screen{
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        transition: 300ms;
        background: rgba(0,0,0,0);
    }
    .on{
        .helper-arrow{
        opacity:0;
        transition: 80ms;
        }
        .screen{
        background: rgba(0,0,0,.8);
        z-index: 999;
        }
    }
}
@media only screen and (max-width: 320px) {



.fixed{
    margin-left: -15px;
    a{
        .show{
            opacity:.9;
        }
        .hide{
        }
    }
}

    .sidebar{
        ul{
            margin-left: 24px;
            li{
                a{
                    color:white;
                    opacity: .9;
                }
            }
        }
        transition: font-size 1ms ease-in;
        transition: left 200ms ease-in;
    }


    .screen{
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        transition: 300ms;
        background: rgba(0,0,0,0);
    }
    .on{
        .helper-arrow{
            opacity:.1;
            transition: 80ms;
        }
        .screen{
        background: rgba(0,0,0,.7);
        }
    }
}
