
@font-face {
    font-family: 'Raleway';
    src: url('/fonts/raleway_thin-webfont.eot');
    src: url('/fonts/raleway_thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/raleway_thin-webfont.woff') format('woff'),
         url('/fonts/raleway_thin-webfont.ttf') format('truetype'),
         url('/fonts/raleway_thin-webfont.svg#raleway_thin') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
            font-family: 'Junction';
            src: url('/fonts/junction-webfont.eot');
            src: url('/fonts/junction-webfont.eot?#iefix') format('embedded-opentype'), url('/fonts/junction-webfont.svg#Junction Webfont') format('svg'),
                  url('/fonts/junction-webfont.woff') format('woff'), url('/fonts/junction-webfont.ttf') format('truetype');
            font-weight: normal;
            font-style: normal;
}
// libs
@import 'libs/font-awesome/font-awesome';
@import 'libs/elegant-icons';
@import 'libs/meyer-reset';
@import 'libs/bootstrap';
@import 'libs/sc-player';

// global
@import 'global';
@import 'sidebar';




// specific

.icon_plus, .icon_minus-06{
    font-size: .8em;
}

body#page-lia {
    @import 'lia';
}
body#page-bleach {
    @import 'bleach';
}
body#page-salmon {
    @import 'salmon';
}
body#page-watercolors {
    @import 'watercolors';
}
body#page-contact {
    @import 'contact';
}
body#page-stories {
    @import 'stories';
}



@media only screen and (max-width: 480px) {
    body{
        &#page-bleach, &#page-salmon, &#page-watercolors, &#page-buddy{
            .series-description{
                position: fixed;
                margin: 0 auto;
                font-size: .9em;
                top: 5%;
                left: 15%;
                width: 80%;
            }
            .fixed{
                a, span{
                    color: black;
                    opacity:.8;
                    -webkit-font-smoothing: antialiased;
                  }
            }
            .series-title{
                color: black;
            .show, .hide{
                vertical-align: middle;
            }
                font-size: 1.9em;
                top: -3px;
            }
            .helper-arrow{
                bottom: 15px;
                top: none;
            }
            .photos{
                div{
                    background-size: 85%;
                    background-position: 73% 50%;
                }
            }

            .mobile-only{
                display: block;
            }
            .not-mobile{
                display:block;
                opacity: 0;
            }
            .sidebar{
                top: -30px;
            }
            .fixed{
                width: 260px;
                top: 139px;
                left: -100px;
                    .show{
                        opacity:1;
                        left: -20px;
                    }
                    .hide{
                        opacity: .9;
                    }
            }


            .on{
                .fixed{
                    left: 170px;
                    a, span{
                        color:white;
                    }
                }
            }
            .fade{
                .screen-title{
                    z-index: 0;
                }
            }

            .back{
                font-size:1em;
                left: 10px;
                bottom: 10;
                a{
                    padding: 14px;
                    margin: -14px;
                }


            }
        }

    }
}


@media only screen and (max-width: 320px) {
    body{
        &#page-bleach, &#page-salmon, &#page-watercolors, &#page-buddy{
            .fixed{
                top: 150px;
                left: -100px;
                width: 260px;
            }
            .on{
                .fixed{
                    left: 165px;
                }
            }
            .sidebar{
                top:-22px;
            }

            .back{
                a{
                    margin: -1px;
                }
                left: 0;

            }

        }
    }
}


