// AUDIO
html, body{
    height:100%;
}


//
// helper-arrow to guide user to scroll
// need js scroll easing script
//



.helper-arrow{
    right: 24px;
    bottom: 29px;
    &:hover{
        bottom: 18px;
    }
}


.artist-name{
}

// INSERT PHOTOS HERE
.photos{
    // position:relative;
    // border: 1px solid red;

    div{
        width: 100%;
        background-position: 73% 50%;
        background-size: cover;
        // background-size: auto 90%;
        height:100%;
        // position: relative;
    }

    .cover{
        background-image: url(../images/optimized/wc.jpg);
        // background-position: 75% 50%;
        position: relative;


    }
    .page1{
        background-image: url(../images/optimized/wc1.jpg);
        // background-position: 75% 50%;
        // position: relative;


    }
    .page2{
        background-image: url(../images/optimized/wc2.jpg);
        // position: relative;
        background-position: 83% 100%;

    }
    .page3{
        background-image: url(../images/optimized/wc3.jpg);
        // background-position: 75% 50%;
        // position: relative;

    }
    .page4{
        background-image: url(../images/optimized/wc4.jpg);
        // background-position: 75% 48%;
        // position: relative;

    }
    .page5{
    background-image: url(../images/optimized/wc6.jpg);
    // background-position: 75% 50%;
    // position: relative;

    }
    .page6{
    background-image: url(../images/optimized/wc7.jpg);
    // background-position: 75% 50%;
    // position: relative;

    }
    .page7{
    background-image: url(../images/optimized/wc8.jpg);

        background-position: 73% 50%;
    // position: relative;

    }
    .page8{
    background-image: url(../images/optimized/wc9.jpg);

        background-position: 45% 90%;    // position: relative;

    }
    .page9{
    background-image: url(../images/optimized/wc10.jpg);
    // background-position: 75% 50%;
    // position: relative;

    }
    .page10{
    background-image: url(../images/optimized/wc11.jpg);
    // background-position: 75% 50%;
    // position: relative;

    }
    .page11{
    background-image: url(../images/optimized/wc12.jpg);
    background-position: 75% 75%;
    // position: relative;

    }
}

//
// BEGIN PAGE SPECIFIC COLORS(white)/SHADOWS/HOVER STATES  (refactor)
//

.back a,
.helper-arrow,
.series-title,
.sidebar a,
.fixed span,
.fixed a {
    color: white
}


.color-change{
    .series-title{
        color: black;
    }
}
.sidebar{
    // background-color: rgba(0,0,0,.22);
    min-width: 325px;
    // box-shadow: 1px 0px 3px rgba(0,0,0,.22);
    a{
    transition: 300ms linear;
    opacity: .6;
    // opacity: 1;
        &:hover{
            // color:white;
            opacity:.9;
            // opacity: 1;
        }
    }
}


.fixed{
    span, a{
    transition: 450ms;
    opacity: .7;
    // opacity: 1;
        &:hover{
            opacity:1;
            text-shadow: 1.5px 1.5px 6.5px rgba(0, 0, 0, 0.7);
        }
    }
}



.fixed{
    top: 165px;
    left: -60px;
}
.on{
    .fixed{
        left: 185px;
    }
}

//
// END PAGE-SPECIFIC COLOR CHANGING
//


//
// MEDIA QUERIES
//

/* 900px and under*/
// resizing sidebar
@media only screen and (max-width: 900px) {
    .back a,
    .series-title,
    .sidebar a,
    .fixed span,
    .fixed a {
        color: white
    }
}


/* 480 and */
@media only screen and (max-width: 480px) {
    .sidebar a{
        color:white;
    }
    .back a{
        color: black;
        padding-top: 20px;
        opacity:1;
    }


.photos{
    .page2,.page8, .page11 {
        background-size: contain;
        background-position: 73% 50%;
}
}
}

@media only screen and (max-width: 320px) {
    .photos{
        .page2, .page8, .page11{
            background-size: 85%;
        }
    }
}



